@import url('https://fonts.cdnfonts.com/css/ica-rubrik-bold');

:root{

    --color-red: rgb(255, 127, 127); /*home*/

    --color-yellow: rgb(253, 255, 127); /*aboutme*/

    --color-blue: rgb(52, 255, 187); /*project*/

    --color-purple: rgb(219, 127, 255); /*contact*/

    --color-bg: rgb(240, 240, 240);

    --color-bg-line: rgb(212, 212, 212);

    --color-text-hover: rgb(0, 0, 0);

    --color-text-box: rgb(233, 233, 233);

    --color-text: rgb(61, 60, 60);

    cursor: none;

    /* overflow: ; */

    scroll-behavior: smooth;

    color: var(--color-text);

}

::-webkit-scrollbar{

    display: none;

}

*,

html,

body {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    cursor: none;

    font-family: monospace;

    outline-style: none;

}

.button{

    display: block;

}

.button button{

    cursor: none;

    border: none;

    background-color: var(--color-text-box);

    padding: 10px;

    font-family: 'Courier New', Courier, monospace;

    font-size: 15px;

    font-weight: 500;

    border-radius: 15px;

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    margin: 15px;

    color: var(--color-text);

}

.btn[data-color-btn="red"]:hover{

    background-color: var(--color-red);

    box-shadow: 0 0 5px var(--color-red), 0 0 10px var(--color-red), 0 0 15px var(--color-red);

    color: var(--color-text-hover);

}

.btn[data-color-btn="blue"]:hover{

    background-color: var(--color-blue);

    box-shadow: 0 0 5px var(--color-blue), 0 0 10px var(--color-blue), 0 0 15px var(--color-blue);

    color: var(--color-text-hover);

}

.btn[data-color-btn="yellow"]:hover{

    background-color: var(--color-yellow);

    box-shadow: 0 0 5px var(--color-yellow), 0 0 10px var(--color-yellow), 0 0 15px var(--color-yellow);

    color: var(--color-text-hover);

}

.btn[data-color-btn="purple"]:hover{

    background-color: var(--color-purple);

    box-shadow: 0 0 5px var(--color-purple), 0 0 10px var(--color-purple), 0 0 15px var(--color-purple);

    color: var(--color-text-hover);

}

.btn[data-color-btn="github"]:hover{

    background-color: var(--color-text-box);

    box-shadow: 0 0 5px rgb(0, 255, 34), 0 0 15px rgb(0, 255, 34);

    color: rgb(0, 255, 34);

}



.bg{

    z-index: -99999;

    perspective: 1000;

    transform: translateZ(-10000px);

    position: absolute;

    width: 100%;

    height: fit-content;

    

}



.nav-text button{

    z-index: 99999999999999;

    padding: 10px;

    border: none;

    margin-right: 20px;

    font-family: 'ICA Rubrik';

    font-size: 14px;

    /* display: flex; */

    /* flex-direction: column; */

}



.nav-text button::after{

    z-index: -1;

    content: "";

    bottom: 12px;

    position: absolute;

    /* bottom: -12px; */

    display: block;

    height: 2px;

    width: 0px;

    background-color: blueviolet;

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    border-radius: 15px;

}



.nav-text button:hover::after{

    /* left: -100%; */

    width: 80px;

    height: 2px;

}



nav{

    z-index: 99999;

    background-color: var(--color-text-box);

    margin: 5%;

    margin-top: 10px;

    border-radius: 20px;

    height: 50px;

    position: fixed;

    top: 15px;

    width: 90%;

    display: flex;

    justify-content: space-between;

    align-items: center;

}

nav button{

    display: flex;

    justify-content: center;

    align-items: center;

    width: 70px;

    height: 30px;

    background-color: var(--color-text-box);

    color: var(--color-text);

}

nav h1{

    font-size: 40px;

    margin: 10px;

}

nav .logo{

    /* text-align: center; */

    /* width: fit-content; */

    border-radius: 10px;

    font-size: 1.8em;

    margin: 10px;

    color: blueviolet;

    font-weight: 700;

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    padding: 10px;

    font-family: 'ICA Rubrik';

}

nav .logo:hover{

    color: rgb(93, 32, 150);

    /* background-color: blueviolet; */

}

nav .nav-btn{

    padding: 0;

    display: none;

    margin-right: 10px;

    border: none;

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}

nav .nav-btn:hover{

    transform: scale(1.2);

}

nav .nav-text button{

    width: 100px;

}

nav .nav-text{

    display: flex;

}

.nav-action{

    /* display: none; */

    position: fixed;

    display: none;

    z-index: 99999;

    top: 0;

    /* right: 0; */

    /* left: 0; */

    width: 100%;

    height: 100vh;

    flex-direction: column;

    /* background-color: rgba(43, 43, 43, 0.473); */

    transform: translateX(100%);

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    backdrop-filter: blur(15px);

}



.nav-action.active{

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    justify-content: space-between;

    transform: translateX(0);

}



.nav-action button{

    height: 40px;

    margin: 10px 20px;

    border: none;

    border-radius: 15px;

    color: var(--color-text);

    background-color: transparent;

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}

.nav-action button:hover{

    transform: scale(1.05);

    border: 1px solid blueviolet;

    color: blueviolet;

}



.nav-action ul li{

    /* width: max-content; */

    display: flex;

    flex-direction: column;

}

#aboutme{

    height: 150vh;

}

#project{

    height: 100vh;

}

.home{

    /* position: ; */

    width: 100%;

    min-height: 100vh;

    /* padding-top: 30px; */

    /* height: 120vh; */

    display: flex;

    align-items: center;

    background-color: var(--color-bg);

    justify-content: center;

    background-size: 40px 60px;

    background-image:

        linear-gradient(to right, var(--color-bg-line) 1px, transparent 1px),

        linear-gradient(to bottom, var(--color-bg-line) 1px, transparent 1px);

    /* background-color: var(--color-bg); */

    /* background-size: 40px 40px;

    background-image:  

        linear-gradient(var(--color-bg-line) 1px, transparent 1px), 

        linear-gradient(to right, var(--color-bg-line) 1px, var(--color-bg-line) 1px); */

}

.main-content{

    width: 80%;

    /* height: 100vh; */

    display: flex;

    flex-direction: column;

    justify-content: space-around;

    /* backdrop-filter: blur(3px); */

    

}

#contact .main-content{

    /* background-color: aqua; */

    height: 100vh;

}

#home .main-content{

    display: flex;

    font-size: 1.2em;

    flex-direction: row-reverse;

}

.main-content .button{

    bottom: 0;

}

.img{

    width: 300px;

    height: 300px;

    background-image: url(sayangtercinta.jpg);
    /* foto kalian masukkan di sini */

    background-position: center;

    background-size: cover;

    background-repeat: no-repeat;

    border-radius: 50%;

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}

.img:hover{

    transform: scale(1.1);

}

.home h1{

    font-size: 2em;

}

.home p{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 1.1em;

}

.home p u{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: blueviolet;

}

a{

    color: blueviolet;

}

.main-content .centered{

    width: 100%;

    height: 200px;

    display: flex;

    justify-content: center;

    align-items: center;

}

h3{

    /* width: max-content; */

    font-family: 'ICA Rubrik';

    font-size: 20px;

    padding: 2px;

    padding-left: 10px;

    border-radius: 5px;

    /* margin: ; */

    color: var(--color-bg);

    background-color: blueviolet;

}

.about-me{

    width: 100%;

    height: 100vh;

    display: flex;

    align-items: center;

    justify-content: center;

}

.title{

    color: blueviolet;

}

.title::after{

    content: "";

    position: relative;

    display: block;

    /* width: 100px; */

    height: 3px;

    border-radius: 16px;

    background-color: blueviolet;

}

.card{

    /* display: flex; */

    /* font-size: 0.9em; */

    color: blueviolet;

    /* columns: 150px; */

    /* flex-wrap: wrap; */

    display: flex;

    flex-wrap: wrap;

    justify-content: start;

    gap: 15px;

    columns: 300px;

}

.card .item{

    z-index: 2;

    font-size: 1.1em;

    flex-direction: row;

    background-color: rgba(0, 0, 0, 0.048);

    backdrop-filter: blur(1px);

    box-shadow: 0 0 5px 5px rgba(133, 133, 133, 0), 0 0 5px 5px rgba(143, 143, 143, 0.27);

    margin: 10px;

    border-radius: 15px;

    padding: 15px;

    width: 230px;

    /* width: max-content; */

    /* border: 1px solid blueviolet; */

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}

.card .item::before{

    position: relative;

    z-index: 1;

    content: "";

    background-color: blueviolet;

    /* border: 1px solid blueviolet; */

    display: block;

    /* left: 20px; */

    border-radius: 15px;

    width: 10px;

    height: 10px;

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}

.card .item:hover{

    box-shadow: 0 0 15px 5px rgba(133, 133, 133, 0), 0 0 15px 15px rgba(143, 143, 143, 0.27);

    transform: scale(1.03);

    backdrop-filter: blur(2px);

}

.card .item:hover::before{

    /* transform: scale(1.03); */

    width: 100%;

}

.contact-box{

    display: flex;

    width: 100%;

    height: 50vh;

    /* flex-direction: row; */

    /* width: 100%; */

    /* height: 50vh; */

}

.ucan{

    margin-bottom: 10px;

    display: flex;

    border-radius: 15px;

    justify-content: center;

    align-items: center;

    font-size: 10px;

    width: 300px;

    height: 300px;

    padding: 10px;

    background-color: var(--color-purple);

}



.switch {

    position: relative;

    display: inline-block;

    width: 40px;

    height: 24px;

}



.switch input { 

    opacity: 0;

    width: 0;

    height: 0;

}



.slider {

    position: absolute;

    cursor: pointer;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    background-color: #616161;

    -webkit-transition: .4s;

    transition: .4s;

}

  

.slider:before {

    position: absolute;

    content: "";

    top: 4px;

    height: 16px;

    width: 16px;

    left: 4px;  

    /* bottom: 4px; */

    background-color: white;

    -webkit-transition: .4s;

    transition: .4s;

}

  

.switch input:checked + .slider {

    background-color: #b1b1b1;

}

  

.switch input:focus + .slider {

    box-shadow: 0 0 1px #2196F3;

}

  

.switch input:checked + .slider:before {

    -webkit-transform: translateX(16px);

    -ms-transform: translateX(16px);

    transform: translateX(16px);

}

  

  /* Rounded sliders */

.slider.round {

    border-radius: 34px;

}

  

.slider.round:before {

    border-radius: 50%;

}



.darkmode-nav{

    z-index: 999999;

    width: 300px;

    position: fixed;

    /* width: 100px; */

    left: -156px;

    bottom: 50vh;

    display: flex;

    transform: rotate();

    height: 100px;

    /* padding: px; */

    background-color: var(--color-text-box);

    border-radius: 15px 15px 0 0;

    justify-content: space-between;

    /* align-items: center; */

    transform: rotate(90deg);

}



#contact-form{

    margin: 10px;

    width: 50%;

    display: flex;

    flex-direction: column;

}

.contact-box p{

    margin: 10px;

    width: 50%;

    display: flex;

    /* flex-direction: column; */

    justify-content: center;

    align-items: center;

}

#contact-form input{

    padding: 10px;

    outline: none;

    /* margin-bottom: 10px; */

    border-radius: 10px;

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    border: 1px solid blueviolet;

    background-color: var(--color-text-box);

    color: var(--color-text);

}

::placeholder{

    /* color: var(--color-bg); */

}

#contact-form textarea{

    /* color: var(--color-text); */

    padding: 10px;

    height: 90vh;

    outline: none;

    /* margin-top: 10px; */

    border-radius: 10px;

    border: 1px solid blueviolet;

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    background-color: var(--color-text-box);

    color: var(--color-text);

}

#contact-form textarea:hover{

    padding: 13px;

    transform: scale(1.02);

}

#contact-form input:hover{

    padding: 13px;

    transform: scale(1.02);

}

.contact-box p{

    padding: 10px;

    outline: none;

    margin-top: 10px;

    border-radius: 10px;

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    border: 1px solid blueviolet;

}

label{

    color: blueviolet;

    font-family: 'ICA Rubrik';

    margin: 10px;

}

.curzr-arrow-pointer{

    display: block;

}





.transition{

    z-index: 999999999999999;

    position: fixed;

    top: 0;

    left: 0;

    pointer-events: none;

    width: 100%;

    height: 100vh;

    box-shadow: 0 0 15px 25px var(--color-bg-line);

    /* background-color: var(--color-bg-line); */

    background-color: var(--color-bg);

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    /* backdrop-filter: blur(50px); */

}

.transition.up{

    transform: translateY(-100%);

    background-color: var(--color-bg-line);

    backdrop-filter: blur(15px);

}



.alert-berhasil{

    z-index: 9999999999999999;

    position: fixed;

    top: 0;

    left: 0;

    pointer-events: none;

    width: 100%;

    height: 100vh;

    /* background-color: var(--color-bg-line); */

    /* background-color: var(--color-bg); */

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    /* backdrop-filter: blur(50px); */

    display: flex;

    justify-content: center;

    align-items: center;

    

}

.alert-berhasil .centered-box{

    pointer-events: all;

    border: 1px solid var(--color-text-box);

    background-color: rgba(174, 0, 255, 0.048);

    backdrop-filter: blur(5px);

    width: 30%;

    height: 30vh;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    padding: 20px;

    border-radius: 15px;

}

.alert-berhasil .centered-box button{

    border: none;

    padding: 10px;

    border-radius: 10px;

    background-color: var(--color-bg-line);

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}

.alert-berhasil.up{

    transform: translateY(-100%);

}





@media (max-width: 990px) {

    #aboutme{

        height: 160vh;

    }

}



@media (max-width: 900px) {

    nav .nav-text li button{

        font-size: 9px;

        width: 60px;

    }

    .card{

        width: 100%;

    }

    .card .item {

        width: 100%;

    }

    #project .card .item {

        width: 100%;

    }

    .contact-box{

        height: 40vh;

        /* flex-direction: column; */

    }

    #aboutme{

        height: 200vh;

    }

    #home .main-content{

        flex-direction: column;

    }

    nav .nav-text{

        display: flex;

    }

    .img{

        width: 200px;

        height: 200px;

    }

}

@media (max-width: 680px) {

    :root{

        cursor: auto;

    }

    .centered-box{

        width: 70%;

        height: 50vh;

    }

    .nav-action{

        display: flex;

    }

    nav .nav-btn{

        display: block;

    }

    button{

        cursor: pointer;

    }

    #aboutme{

        height: 300vh;

    }

    #project{

        height: 150vh;

    }

    *{

        cursor: auto;

    }

    nav .nav-text{

        display: none;

    }

    .contact-box{

        flex-direction: column;

    }

    nav .nav-btn{

        display: block;

    }

    .curzr-arrow-pointer{

        display: none;

    }

    .card .item {

        width: 100%;

    }

    #project .card .item {

        width: 100%;

    }

    #contact{

        height: 100vh;

    }

    .contact-box p{

        width: 100%;

        height: 40vh;

    }

    #contact-form{

        width: 100%;

        height: 50vh;

    }

    .img{

        width: 150px;

        height: 150px;

    }

    h3{

        font-size: 15px;

    }

  }